*{
    margin: 0;
    padding: 0;
}
body
{
    background: #d7a04d;
    cursor: pointer;
}
.ojos
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}
.ojo
{
    width: 240px;
    height: 30px;
    background: #fff;
    display: inline-block;
    margin: 40px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}
.ojo-2
{
    width: 240px;
    height: 90px;
    background: #fff;
    display: inline-block;
    margin: 40px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}
.ball
{
    width: 40px;
    height: 40px;
    background: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    border: 15px solid rgb(79, 85, 85);
    
}